{% extends "master.html" %}

{% block pagecontent %}

<div class="row-fluid	">
	<h3>About This FYP</h3>
	<p>The objective of this project is to develop a web application running on the cloud. It will showcase the capabilities of the cloud and how easy it is for anyone to develop a web application for the cloud. By harnessing the power of cloud computing, the project will show that one no longer needs to own or manage a server and other required setups to run a fully capable application that can serve hundreds or thousands.</p>
	<br>
	<p>The application’s use will be for collaboration, in order to feature the cloud capabilities such as scalability and data accessibility. </p>
</div>

{% endblock %}