{% extends "master.html" %}

{% block pagecontent %}
<div class="row-fluid">
  <div class="span12">
	<h1>Blobstore</h1>
  <a href="#uploadModal" role="button" data-toggle="modal" class="pull-right"><i class="icon-plus"></i> Upload</a>
  <br>
  <br>
	<table class="table table-bordered table-hover">
    <thead>
      <tr>
        <td><strong>Blob Title</strong></td>
        <td><strong>Uploaded by</strong></td>
        <td><strong>Action</strong></td>
      </tr>
    </thead>
    {% if blobsExists %}
    {% for b in blobs %}
		  <tr>
        <td>
          <a href="serve/{{ b.blobInfo.key() }}">{{ b.blobInfo.filename }}</a>
          <!-- START: Edit Blob Details -->
          <!-- END: Edit Blob Details -->
        </td>
        <td>{{ b.uploader.nickname }}</td>
        <td><a href="deleteBlob/{{ b.blobInfo.key() }}"><i class="icon-remove"></i></a></td>
      </tr>
    {% endfor %}
    {% else %}
    <p>No blobs found.</p>
    {% endif %}
  </table>
  
  <div id="uploadModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Upload</h3>
    </div>

    <div class="modal-body">
      <form action="{{ upload_url }}" method="post" enctype="multipart/form-data">
      	<input type="file" name="file" multiple="">

      <div class="controls">
        <button type="submit" class="btn btn-primary">Upload</button>
      </div>
      </form> 
    </div>
    <div class="modal-footer">
                      
    </div>
  </div>
  </div>
</div>

{% endblock pagecontent %}