{% extends "master.html" %}

{% block pagecontent %}
<h1>Dashboard | {{ activeProjectTitle }}</h1>
<!-- START: Tabs -->

<div class="row-fluid">
	<div class="tabbable span12"> <!-- Only required for left/right tabs -->
  		<ul class="nav nav-tabs">
    		<li class="active"><a href="#tab1" data-toggle="tab">The Roadmap</a></li>
    		<li><a href="#tab2" data-toggle="tab">My Tasks</a></li>
    		<li>
    			<a href="#tab3" data-toggle="tab">Notifications
    			{% if newRequestExists %}
    			<i class="icon-exclamation-sign"></i>
    			{% endif %}
    			</a>
    		</li>
    		<li class="pull-right"><a href="#createModal" role="button" data-toggle="modal"><i class="icon-plus"></i> New Task</a></li>
  		</ul>
  		<div class="tab-content">
  			<!-- START: All Tasks Tab -->
    		<div class="tab-pane active" id="tab1">
      			<div class="span12">
					<h2>All Tasks</h2>
					<p>The Roadmap will display all tasks belonging to <i>{{ activeProjectTitle}}</i> and give users an overview of the project.</p>
					<p><strong>Tasks created by all users</strong></p>
					<table class="table table-bordered table-hover">
						<tr>
							<thead>
								<td><strong>Task</strong></td>
								<td><strong>Date Due</strong></td>
								<td><strong>Owner</strong></td>
								<td><strong>Status</strong></td>
							</thead>
						</tr>
					{% if activeProjectTasksExists %}
					
						{% for task in activeProjectTasks %} 
						<tr>
							<td>
								<a href="#allInfoModal{{ task.key().id() }}" role="button" data-toggle="modal">{{ task.title }} <i class="icon-chevron-up"></i></a>
								<!-- START: Info Task Modal -->
								<div id="allInfoModal{{ task.key().id() }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  								<div class="modal-header">
    								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    								<h3 id="myModalLabel">{{ task.title }}</h3>
  								</div>
  								<div class="modal-body">
  									<h4>Description</h4>
  									<p>{{ task.description}}</p>
  									<p><i>created by {{ task.creator.nickname }}</i></p>
  									<br>
  									<p>This task is owned by {{ task.owner.nickname }} and due on {{ task.due|datetimeformat }}.</p>
  									{% if task.updated %}
  									<br>
  									<p>Last updated on {{ task.updated|datetimeformat }}.</p>
  									{% endif %}
  								</div>
  								<div class="modal-footer">
    								<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>	
  								</div>
								</div>
								<!-- END: Info Task Modal -->
							</td>
							<td>{{ task.due|datetimeformat }}</td>
							<td>{{ task.owner.nickname }}</td>
							<td>
								{% if task.complete == True %}
								Done
								{% else %}
								Pending
								{% endif %}
						</tr>   
   						{% endfor %} 

   					{% else %} 	
   							<p>No tasks found.</p>
   					{% endif %}
   					</table> 
				</div>
    		</div>
    		<!-- END: All Tasks Tab -->
    		<!-- START: My Tasks Tab -->
    		<div class="tab-pane" id="tab2">
      			<div class="span12">
					<h2>My Tasks</h2>
					<p>All tasks belonging to current user will be listed here.</p>
					<!-- Pending Tasks -->
					<p><strong>Tasks Pending</strong></p>
					<table class="table table-bordered table-hover">
						<tr>
							<thead>
								<td><strong>Task</strong></td>
								<td><strong>Date Due</strong></td>
								<td><strong>Action</strong></td>
							</thead>
						</tr>
					{% if myPendingTasksExists %}
						{% for task in myPendingTasks %}
						<tr>
							<td>
								<a href="#myInfoModal{{ task.key().id() }}" role="button" data-toggle="modal">{{ task.title }} <i class="icon-chevron-up"></i></a>
								<!-- START: Info Task Modal -->
								<div id="myInfoModal{{ task.key().id() }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  								<div class="modal-header">
    								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    								<h3 id="myModalLabel">{{ task.title }}</h3>
  								</div>
  								<div class="modal-body">
  									<h4>Description</h4>
  									<p>{{ task.description}}</p>
  									<p><i>created by {{ task.creator.nickname }}</i></p>
  									<br>
  									<p>This task is owned by {{ task.owner.nickname }} and due on {{ task.due|datetimeformat }}.</p>
  									{% if task.updated %}
  									<br>
  									<p>Last updated on {{ task.updated|datetimeformat }}.</p>
  									{% endif %}
  								</div>
  								<div class="modal-footer">
  									<a href="done/{{ task.key().id() }}"><i class="icon-ok"></i>  </a>
    								<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>	
  								</div>
								</div>
								<!-- END: Info Task Modal -->
							</td>
							<td>{{ task.due|datetimeformat }}</td>
							<td>
			   					<a href="#editModal{{ task.key().id() }}" role="button" data-toggle="modal"><i class="icon-pencil"></i></a>
			   					<!-- START: Edit Task Modal -->
								<div id="editModal{{ task.key().id() }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  								<div class="modal-header">
    								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    								<h3 id="myModalLabel">Edit Task</h3>
  								</div>
  								<div class="modal-body">
  									<form action="edit/{{ task.key().id() }}" method="post" id="editTaskForm">	
										<div class="control-group">
											<label class="control-label" for="inputTitle">Title</label>
											<div class="controls">
												<input type="text" id="inputTitle" placeholder="{{ task.title }}" name="inputTitle">
											</div>
										</div>

										<div class="control-group">
											<label class="control-label" for="inputDateDue">Date Due</label>
											<div class="controls">
												<input type="text" id="datepicker" placeholder="{{ task.due|datetimeformat }}" name="inputDateDue">
											</div>
										</div>

										<div class="control-group">
											<label class="control-label" for="inputDescription">Description</label>
											<div class="controls">
												<input type="text" id="inputDescription" placeholder="{{ task.description }}" name="inputDescription">
											</div>
										</div>

										<div class="control-group">
											<label class="control-label" for="inputOwner">Task Owner</label>
											<div class="controls">
												<select name="inputOwner" form="editTaskForm">
												<option>Me</option>
												{% for u in allUsers %}
												{% if u.nickname == userNick %}
												{% else %}
													<option>{{ u.nickname }}</option>
												{% endif %}
												{% endfor %}
												</select>
											</div>
										</div>	

										<button type="submit" class="btn btn-primary">Save changes</button>
    									</form>
  								</div>
  								<div class="modal-footer">
    									
  								</div>
								</div>
								<!-- END: Edit Task Modal -->
								<a href="delete/{{ task.key().id() }}"><i class="icon-remove"></i></a>
			   				</td>
						</tr>
   						{% endfor %} 

   					{% else %} 	
   						<p> No tasks found. </p>
   						{% endif %}
   						</table> 
   						<!-- Completed Tasks -->
   						<p><strong>Tasks Completed</strong></p>
					<table class="table table-bordered table-hover">
						<tr>
							<thead>
								<td><strong>Task</strong></td>
								<td><strong>Date Due</strong></td>
								<td><strong>Action</strong></td>
							</thead>
						</tr>
					{% if myCompletedTasksExists %}
						{% for task in myCompletedTasks %}
						<tr>
							<td>
								<a href="#myInfoModal{{ task.key().id() }}" role="button" data-toggle="modal">{{ task.title }} <i class="icon-chevron-up"></i></a>
								<!-- START: Info Task Modal -->
								<div id="myInfoModal{{ task.key().id() }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  								<div class="modal-header">
    								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    								<h3 id="myModalLabel">{{ task.title }}</h3>
  								</div>
  								<div class="modal-body">
  									<h4>Description</h4>
  									<p>{{ task.description}}</p>
  									<p><i>created by {{ task.creator.nickname }}</i></p>
  									<br>
  									<p>This task is owned by {{ task.owner.nickname }} and due on {{ task.due|datetimeformat }}.</p>
  									{% if task.updated %}
  									<br>
  									<p>Last updated on {{ task.updated|datetimeformat }}.</p>
  									{% endif %}
  								</div>
  								<div class="modal-footer">
  									<a href="done/{{ task.key().id() }}"><i class="icon-ok"></i>  </a>
    								<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>	
  								</div>
								</div>
								<!-- END: Info Task Modal -->
							</td>
							<td>{{ task.due|datetimeformat }}</td>
							<td>
			   					<a href="#editModal{{ task.key().id() }}" role="button" data-toggle="modal"><i class="icon-pencil"></i></a>
			   					<!-- START: Edit Task Modal -->
								<div id="editModal{{ task.key().id() }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  								<div class="modal-header">
    								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    								<h3 id="myModalLabel">Edit Task</h3>
  								</div>
  								<div class="modal-body">
  									<form action="edit/{{ task.key().id() }}" method="post" id="editTaskForm">	
										<div class="control-group">
											<label class="control-label" for="inputTitle">Title</label>
											<div class="controls">
												<input type="text" id="inputTitle" placeholder="{{ task.title }}" name="inputTitle">
											</div>
										</div>

										<div class="control-group">
											<label class="control-label" for="inputDateDue">Date Due</label>
											<div class="controls">
												<input type="text" id="datepicker" placeholder="{{ task.due|datetimeformat }}" name="inputDateDue">
											</div>
										</div>

										<div class="control-group">
											<label class="control-label" for="inputDescription">Description</label>
											<div class="controls">
												<input type="text" id="inputDescription" placeholder="{{ task.description }}" name="inputDescription">
											</div>
										</div>

										<div class="control-group">
											<label class="control-label" for="inputOwner">Task Owner</label>
											<div class="controls">
												<select name="inputOwner" form="editTaskForm">
												<option>Me</option>
												{% for u in allUsers %}
												{% if u.nickname == userNick %}
												{% else %}
													<option>{{ u.nickname }}</option>
												{% endif %}
												{% endfor %}
												</select>
											</div>
										</div>	

										<button type="submit" class="btn btn-primary">Save changes</button>
    									</form>
  								</div>
  								<div class="modal-footer">
    									
  								</div>
								</div>
								<!-- END: Edit Task Modal -->
								<a href="delete/{{ task.key().id() }}"><i class="icon-remove"></i></a>
			   				</td>
						</tr>
   						{% endfor %} 

   					{% else %} 	
   						<p> No tasks found. </p>
   						{% endif %}
   						</table> 
				</div>
    		</div>
			<!-- END: My Tasks Tab -->

			<!-- START: Inbox Tab -->
    		<div class="tab-pane" id="tab3">
    			<div class="span12">
    				<h2>Notifications</h2>
    				<p>User notifications will be listed here.</p>
    				{% if newRequestExists %}
    				<table class="table table-bordered table-hover">
    					<tr>
    						<thead>
    							<td><strong>Notification Item</strong></td>
    							<td><strong>Action</strong></td>
    						</thead>
    					</tr>

    					{% for r in newRequest %}
    						<tr>
    							<td>You have a new task <strong>{{ r.title }}</strong> assigned to you.</td>
    							<td>
    								<a href="accept/{{ r.key().id() }}"><i class="icon-ok"></i></a>
    								<a href="reject/{{ r.key().id() }}"><i class="icon-remove"></i></a>
    							</td>
    						</tr>
    					{% endfor %}
    				</table>
    				{% else %}
    				<p>You have no new notifications.</p>
    				{% endif %}
    			</div>
    		</div>
			<!-- END: Inbox Tab -->
		</div>	
	</div>
</div>		
<!-- END: Tabs -->

<!-- START: Create Task Modal -->
<div id="createModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  	<div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    	<h3 id="myModalLabel">Create Task</h3>
  	</div>
  	<div class="modal-body">
  		<form action="newTask" method="post" id="createTaskForm">
			<div class="control-group">
				<label class="control-label" for="inputTitle">Title</label>
					<div class="controls">
						<input type="text" id="inputTitle" placeholder="Title" name="inputTitle">
					</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="inputDateDue">Date Due</label>
				<div class="controls">
					<input type="text" id="datepicker" placeholder="Date Due" name="inputDateDue">
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="inputDescription">Description</label>
				<div class="controls">
					<input type="text" id="inputDescription" placeholder="Description" name="inputDescription">
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="inputOwner">Task Owner</label>
				<div class="controls">
					<select name="inputOwner" form="createTaskForm">
						<option>Me</option>
						{% for u in allUsers %}
						{% if u.nickname == userNick %}
						{% else %}
							<option>{{ u.nickname }}</option>
						{% endif %}
						{% endfor %}
					</select>
				</div>
			</div>

			<div class="controls">
				<button type="submit" class="btn btn-primary">Create task</button>
			</div>
		</form>	
	</div>
  	<div class="modal-footer">
    									
	</div>
</div>
<!-- END: Create Task Modal --> 


{% endblock pagecontent %}