{% extends "master.html" %}

{% block pagecontent %}
<h1>Dashboard | {{ activeProjectTitle }}</h1>
<p>{{ activeProjectDescription }}</p>
<br>
<!-- START: Tabs -->

<div class="row-fluid">
	<div class="tabbable span12"> <!-- Only required for left/right tabs -->
  		<ul class="nav nav-tabs">
  			<li class="active"><a href="#tab1" data-toggle="tab">Discussions</a></li>
    		<li><a href="#tab2" data-toggle="tab">Roadmap</a></li>
    		<li><a href="#tab3" data-toggle="tab">My Tasks</a></li>
    		<li>
    			<a href="#tab4" data-toggle="tab">Notifications
    			{% if newRequestExists %}
    			<i class="icon-exclamation-sign"></i>
    			{% endif %}
    			</a>
    		</li>
  		</ul>

  		<div class="tab-content">
  			<!-- START: Discussions Tab -->
  			<div class="tab-pane active" id="tab1">
  				<div class="span12">
  					<ul class="inline">
      					<li><h4 class="text-error">Discussions</h4></li>
						<li><a class="btn btn-mini" href="#startDiscussionModal" role="button" data-toggle="modal"><i class="icon-plus"></i>Start a discussion</a></li>
					</ul>
					{% if activeProjectDiscussionsExists %}
					<table class="table table-bordered table-hover">
						<tr>
							<thead>
								<td><strong>Creator</strong></td>
								<td><strong>Title</strong></td>
								<td><strong>Date Created</strong></td>
							</thead>
						</tr>
						{% for thread in activeProjectDiscussions %}
						<tr>
							<td>{{ thread.creator.nickname }}</td>
							<td>{{ thread.title }}</td>
							<td>{{ thread.created|datetimeformat }}</td>
						</tr>
						{% endfor %}
					{% else %}
					<p>None.</p>
					{% endif %}
					</table>
  				</div>
  			</div>
  			<!-- END: Discussions Tab -->
  			<!-- START: Roadmap Tab -->
    		<div class="tab-pane" id="tab2">
      			<div class="span12">
					<h4 class="text-error">Roadmap</h4>
					
					{% if activeProjectTasksExists %}
					<table class="table table-bordered table-hover">
						<tr>
							<thead>
								<td><strong>Task</strong></td>
								<td><strong>Date Due</strong></td>
								<td><strong>Owner</strong></td>
								<td><strong>Status</strong></td>
							</thead>
						</tr>
						{% for task in activeProjectTasks %} 
						<tr>
							<td>
								{{ task.title }} <a href="#taskInfoModal{{ task.key().id() }}" role="button" data-toggle="modal"><i class="icon-chevron-up"></i></a>
								<!-- START: Info Task Modal -->
								<div id="taskInfoModal{{ task.key().id() }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  								<div class="modal-header">
    								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    								<h3 id="myModalLabel">{{ task.title }}</h3>
  								</div>
  								<div class="modal-body">
  									<h4>Description</h4>
  									<p>{{ task.description}}</p>
  									<p><i>created by {{ task.creator.nickname }}</i></p>
  									<br>
  									<p>This task is owned by {{ task.owner.nickname }} and due on {{ task.due|datetimeformat }}.</p>
  									{% if task.updated %}
  									<br>
  									<p>Last updated on {{ task.updated|datetimeformat }}.</p>
  									{% endif %}
  								</div>
  								<div class="modal-footer">
    								<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>	
  								</div>
								</div>
								<!-- END: Info Task Modal -->
							</td>
							<td>{{ task.due|datetimeformat }}</td>
							<td>{{ task.owner.nickname }}</td>
							<td>
								{% if task.complete == True %}
								Done
								{% else %}
								Pending
								{% endif %}
						</tr>   
   						{% endfor %} 

   					{% else %} 	
   							<p>There are currently no tasks in this project. Start by creating a task in the <i>My Tasks</i> tab.</p>
   					{% endif %}
   					</table> 
				</div>
    		</div>
    		<!-- END: Discussion Tab -->
    		<!-- START: My Tasks Tab -->
    		<div class="tab-pane" id="tab3">
      			<div class="span12">
      				<ul class="inline">
      					<li><h4 class="text-error">My Tasks</h4></li>
						<li><a class="btn btn-mini" href="#addTaskModal" role="button" data-toggle="modal"><i class="icon-plus"></i>Add a task</a></li>
					</ul>

					<!-- Pending Tasks -->
					<p><strong>Tasks Pending</strong></p>
					
					{% if myPendingTasksExists %}
					<table class="table table-bordered table-hover">
						<tr>
							<thead>
								<td><strong>Task</strong></td>
								<td><strong>Date Due</strong></td>
							</thead>
						</tr>
						{% for task in myPendingTasks %}
						<tr>
							<td>
								{{ task.title }} <a href="#pendingInfoModal{{ task.key().id() }}" role="button" data-toggle="modal"><i class="icon-chevron-up"></i></a>
								<!-- START: Info Task Modal -->
								<div id="pendingInfoModal{{ task.key().id() }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  								<div class="modal-header">
    								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    								<ul class="inline">
    									<li><h3 id="myModalLabel">{{ task.title }}</h3></li>
    									<li><a class="btn btn-mini btn-success" href="done/{{ task.key().id() }}">Done</a></li>
    								</ul>
  								</div>
  								<div class="modal-body">
  									<h4>Description</h4>
  									<p>{{ task.description}}</p>
  									<p><i>created by {{ task.creator.nickname }}</i></p>
  									<br>
  									<p>This task is owned by {{ task.owner.nickname }} and due on {{ task.due|datetimeformat }}.</p>
  									{% if task.updated %}
  									<br>
  									<p>Last updated on {{ task.updated|datetimeformat }}.</p>
  									{% endif %}
  								</div>
  								<div class="modal-footer">
    								<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>	
  								</div>
								</div>
								<!-- END: Info Task Modal -->
								<a class="pull-right" href="#editTaskModal{{ task.key().id() }}" role="button" data-toggle="modal"><i class="icon-pencil"></i></a>
			   					<!-- START: Edit Task Modal -->
								<div id="editTaskModal{{ task.key().id() }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  								<div class="modal-header">
    								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    								<ul class="inline">
    									<li><h3 id="myModalLabel">Edit Task</h3></li>
    									<li><a class="btn btn-mini btn-danger" href="delete/{{ task.key().id() }}">Delete</a></li>
    								</ul>
  								</div>
  								<div class="modal-body">
  									<form action="edit/{{ task.key().id() }}" method="post" id="editTaskForm">	
										<div class="control-group">
											<label class="control-label" for="inputTitle">Title</label>
											<div class="controls">
												<input type="text" id="inputTitle" placeholder="{{ task.title }}" name="inputTitle">
											</div>
										</div>

										<div class="control-group">
											<label class="control-label" for="inputDateDue">Date Due</label>
											<div class="controls">
												<input type="text" id="datepicker" placeholder="{{ task.due|datetimeformat }}" name="inputDateDue">
											</div>
										</div>

										<div class="control-group">
											<label class="control-label" for="inputDescription">Description</label>
											<div class="controls">
												<input type="text" id="inputDescription" placeholder="{{ task.description }}" name="inputDescription">
											</div>
										</div>

										<div class="control-group">
											<label class="control-label" for="inputOwner">Task Owner</label>
											<div class="controls">
												<select name="inputOwner" form="editTaskForm">
												<option>Me</option>
												{% for u in allUsers %}
												{% if u.nickname == userNick %}
												{% else %}
													<option>{{ u.nickname }}</option>
												{% endif %}
												{% endfor %}
												</select>
											</div>
										</div>	

										<button type="submit" class="btn btn-primary">Save changes</button>
    									</form>
  								</div>
  								<div class="modal-footer">
    									
  								</div>
								</div>
								<!-- END: Edit Task Modal -->
							</td>
							<td>{{ task.due|datetimeformat }}</td>
						</tr>
   						{% endfor %} 

   					{% else %} 	
   						<p>None</p>
   					{% endif %}
   					</table> 
   					<br>
   					<hr>
   					<!-- Completed Tasks -->
   					<p><strong>Tasks Completed</strong></p>
					
					{% if myCompletedTasksExists %}
					<table class="table table-bordered table-hover">
						<tr>
							<thead>
								<td><strong>Task</strong></td>
								<td><strong>Date Due</strong></td>
							</thead>
						</tr>
						{% for task in myCompletedTasks %}
						<tr>
							<td>
								{{ task.title }} <a href="#completedInfoModal{{ task.key().id() }}" role="button" data-toggle="modal"><i class="icon-chevron-up"></i></a>
								<!-- START: Info Task Modal -->
								<div id="completedInfoModal{{ task.key().id() }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  								<div class="modal-header">
    								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    								<h3 id="myModalLabel">{{ task.title }}</h3>
  								</div>
  								<div class="modal-body">
  									<h4>Description</h4>
  									<p>{{ task.description}}</p>
  									<p><i>created by {{ task.creator.nickname }}</i></p>
  									<br>
  									<p>This task is owned by {{ task.owner.nickname }} and due on {{ task.due|datetimeformat }}.</p>
  									{% if task.updated %}
  									<br>
  									<p>Last updated on {{ task.updated|datetimeformat }}.</p>
  									{% endif %}
  								</div>
  								<div class="modal-footer">
    								<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>	
  								</div>
								</div>
								<!-- END: Info Task Modal -->
							</td>
							<td>{{ task.due|datetimeformat }}</td>
						</tr>
   						{% endfor %} 

   					{% else %} 	
   						<p>None</p>
   						{% endif %}
   						</table> 
				</div>
    		</div>
			<!-- END: My Tasks Tab -->

			<!-- START: Inbox Tab -->
    		<div class="tab-pane" id="tab4">
    			<div class="span12">
    				<h4 class="text-error">Notifications</h4>
    				{% if newRequestExists %}
    				<table class="table table-bordered table-hover">
    					<tr>
    						<thead>
    							<td><strong>Notification Item</strong></td>
    							<td><strong>Action</strong></td>
    						</thead>
    					</tr>

    					{% for r in newRequest %}
    						<tr>
    							<td>You have a new task <strong>{{ r.title }}</strong> assigned to you.</td>
    							<td>
    								<a href="accept/{{ r.key().id() }}"><i class="icon-ok"></i></a>
    								<a href="reject/{{ r.key().id() }}"><i class="icon-remove"></i></a>
    							</td>
    						</tr>
    					{% endfor %}
    				</table>
    				{% else %}
    				<p>You have no new notifications.</p>
    				{% endif %}
    			</div>
    		</div>
			<!-- END: Inbox Tab -->
		</div>	
	</div>
</div>		
<!-- END: Tabs -->

<!-- START: Start Discussion Modal -->
<div id="startDiscussionModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="startDiscussionModalLabel" aria-hidden="true">
  	<div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    	<h3 id="startDiscussionModalLabel">Start a discussion</h3>
  	</div>
  	<div class="modal-body">
  		<form action="startDiscussion" method="post" id="startDiscussionForm">
			<div class="control-group">
				<label class="control-label" for="inputTitle">Title</label>
					<div class="controls">
						<input type="text" id="inputTitle" placeholder="Title" name="inputTitle">
					</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="inputDescription">Post</label>
				<div class="controls">
					<textarea rows="5" column="300" name="inputPost" form="startDiscussionForm"></textarea>
				</div>
			</div>

			<div class="controls">
				<button type="submit" class="btn btn-primary">Start discussion</button>
			</div>
		</form>	
  	<div class="modal-footer">
    									
	</div>
</div>
<!-- END: Start Discussion Modal --> 

<!-- START: Create Task Modal -->
<div id="addTaskModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addTaskModalLabel" aria-hidden="true">
  	<div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    	<h3 id="addTaskModalLabel">Add a task</h3>
  	</div>
  	<div class="modal-body">
  		<form action="addTask" method="post" id="addTaskForm">
			<div class="control-group">
				<label class="control-label" for="inputTitle">Title</label>
					<div class="controls">
						<input type="text" id="inputTitle" placeholder="Title" name="inputTitle">
					</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="inputDateDue">Date Due</label>
				<div class="controls">
					<input type="text" id="datepicker" placeholder="Date Due" name="inputDateDue">
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="inputDescription">Description</label>
				<div class="controls">
					<input type="text" id="inputDescription" placeholder="Description" name="inputDescription">
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="inputOwner">Task Owner</label>
				<div class="controls">
					<select name="inputOwner" form="addTaskForm">
						<option>Me</option>
						{% for u in allUsers %}
						{% if u.nickname == userNick %}
						{% else %}
							<option>{{ u.nickname }}</option>
						{% endif %}
						{% endfor %}
					</select>
				</div>
			</div>

			<div class="controls">
				<button type="submit" class="btn btn-primary">Create task</button>
			</div>
		</form>	
	</div>
  	<div class="modal-footer">
    									
	</div>
</div>
<!-- END: Create Task Modal --> 


{% endblock pagecontent %}