{% extends "master.html" %}

{% block pagecontent %}
 <div class="hero-unit">
    <h1>Welcome to Cuppage.</h1>
    <p>Cuppage is a neat little tool for you and your friends to plan and manage your projects without any hassle!</p>
    <p><a class="btn btn-primary btn-large" href="about">Learn more &raquo;</a></p>
</div>

<div class="row-fluid">
   	<div class="span12">
   		<h3>Cuppage: An Application In Development</h3>				
  		<p>The application to be developed will be an easy to use project management tool that will help bring focused collaboration to the team. To provide some context for this web application and help this project be more focused, our end users in this project will be a team of event planners. Their work revolves around tight deadlines, is highly task-oriented and heavily dependent on effective information sharing.</p>
  		<br>
  		<p>The final product is a simple and powerful web application for event planners, yet versatile enough to be extended to other types of users.</p>
	</div>
</div>

{% endblock %}